<%-include("partials/Header") %>
<div class="page-container" data-aos="fade-in">
  <div class="main-container">
    <div class="list-box row justify-content-between">
      <div class="col-lg-8 list-container" data-aos="fade-left" data-aos-delay="50"> 
        <h1>200+ government schemes available for you.</h1>
        <p>
          <span><i class="fas fa-check"></i></span> Take benifit from the
          schemes now.
        </p>
        <div class="list" data-aos="fade-left" data-aos-delay="150">
          <% SchemesToRender.forEach((item)=>{ %>
          <div class="profile-card" data-aos="fade-in" data-aos-delay="50">
            <div class="profile flex">
              <div class="img-container">
                <img
                  src="<%=item.img%>"
                />
              </div>
              <div class="profile-info flex jcb fdc">
                <div>
                  <h2 class="name"><a><%= item.name %> </a></h2>
                  <p><%= item.issueBy %></p>
                  <p><%= item.keyFeature %></p>
                  <p><%= item.applicant %></p>
                  <a href="<%=item.applyLink%>">Apply Link</a>
                </div>
                <div class="btns flex jcb aic">
                  <button class="btn btn-about">
                    <a>Read More<span><i class="fa-solid fa-angle-down"></i></span></a>
                  </button>
                </div>
              </div>
              </div>
              <div class="about-text">
                <div class="text">
                  <p><%= item.aboutScheme %></p>
                </div>
              </div>
            </div>
            <% }) %>

            <hr />
          </div>
        </div>
        <div class="col-lg-4 side-panel"></div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<!-- js -->
<script>
  const profileCards = document.querySelectorAll(".profile-card");

  profileCards.forEach((profileCard) => {
    const aboutBtn = profileCard.querySelector(".btn-about");
    const aboutText = profileCard.querySelector(".about-text");
    const textContainer = profileCard.querySelector(".text");
    console.log(textContainer.getBoundingClientRect().height);

    aboutBtn.onclick = () => {
      profileCards.forEach((item) => {
        console.log(item);
        if (item === profileCard) {
          console.log(profileCard);
          aboutText.classList.toggle("active-text");
        }
      });
    };
  });
</script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<!-- js end -->
<%-include("partials/Footer") %>
